<script lang="ts">
export default {
  name: 'GetStartedCopyInfo',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
};
</script>

<template>
  <section>
    <div class="copy-info slp-mb-64 slp-mb-md-96">
      <SlpIcon
        class="copy-info__icon slp-mr-16 slp-mt-8"
        name="information"
        variant="product"
        alt="Information Icon"
        slp-color="text-link-100"
      />
      <div class="copy-info__content">
        <SlpTypography class="slp-mb-16" tag="h3" variant="heading3-bold">
          {{ data.title }}
        </SlpTypography>
        <SlpTypography tag="span" variant="heading5">
          <div v-html="data.text" />
        </SlpTypography>
      </div>
    </div>
  </section>
</template>

<style scoped lang="scss">
.copy-info {
  background: $color-surface-800;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
</style>
