<script lang="ts">
import Vue from 'vue';
import { startCase } from 'lodash';
import { init, refresh } from 'aos';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { getPageMetadata } from '../../../common/meta';
import CropInfinityHero from '../../../components/common/crop-infinity-hero.vue';
import TechnologyPartnersNextStep from '../../../components/partners/technology-partners/next-step.vue';
import TechnologyPartnersList from '../../../components/partners/technology-partners/partners-list.vue';
import GroupButtons from '../../../components/common/group-buttons.vue';

const getPartnerImgUrl = async (title: string) => {
  const partnerTitle = title.toLowerCase().replace(/[ .]/g, '_');
  const imagePath = `/nuxt-images/applications/apps/${partnerTitle}`;
  const extensions = ['gif', 'jpg', 'jpeg', 'png', 'svg'];
  let imageUrl;

  // eslint-disable-next-line no-restricted-syntax
  for (const extension of extensions) {
    try {
      const fullTitle = `${partnerTitle}.${extension}`;
      // eslint-disable-next-line no-await-in-loop
      await import(
        `../../../static/nuxt-images/applications/apps/${fullTitle}`
      );
    } catch (e) {
      // eslint-disable-next-line no-continue
      continue;
    }

    imageUrl = `${imagePath}.${extension}`;
    break;
  }

  if (!imageUrl) {
    imageUrl = '/nuxt-images/applications/apps/handshake_placeholder.svg';
  }

  return imageUrl;
};

export default Vue.extend({
  components: {
    GroupButtons,
    TechnologyPartnersList,
    TechnologyPartnersNextStep,
    CropInfinityHero,
  },
  async asyncData({ $content, error }: any) {
    try {
      const apps: any = await $content('apps').fetch();
      const partners = await $content(
        `partners/technology-partners/index`,
      ).fetch();

      const applications = [];
      const featuredApps = [];

      // eslint-disable-next-line no-restricted-syntax
      for (const platform of apps.platforms) {
        // eslint-disable-next-line no-restricted-syntax
        for (const application of platform.applications) {
          const app = {
            ...application,
            id: platform.id,
            category: startCase(platform.id),
            // eslint-disable-next-line no-await-in-loop
            image: await getPartnerImgUrl(application.title),
          };

          applications.push(app);
          if (application.featured) {
            featuredApps.push(app);
          }
        }
      }

      return { partners, applications, featuredApps };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).partners, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
});
</script>

<template>
  <section>
    <CropInfinityHero :data="partners.hero" />
    <GroupButtons
      class="find-partners__group-buttons"
      :data="partners.group_buttons"
    />
    <TechnologyPartnersList
      :list="featuredApps"
      :data="partners.featured_partners"
    />
    <TechnologyPartnersList
      :list="applications"
      :data="partners.all_partners"
    />
    <SlpContainer variant="gradient">
      <TechnologyPartnersNextStep :data="partners.next_step" />
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.find-partners {
  &__group-buttons {
    margin-top: 0;
    margin-bottom: $spacing-96;
  }
}
</style>
