<script lang="ts">
import Vue from 'vue';
import { SlpHorizontalRule } from '../../common/index.vue';

export default Vue.extend({
  name: 'TopicsCta',
  components: {
    SlpHorizontalRule,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpRow class="slp-flex slp-flex-column slp-align-items-center">
    <SlpColumn :cols="data.column_size || 12">
      <section class="container">
        <SlpTypography tag="h2" variant="heading3" class="container__title">
          <span class="container__title-image"></span>{{ data.title }}
        </SlpTypography>

        <SlpTypography
          v-if="data.subtitle"
          tag="h3"
          variant="heading5"
          class="container__subtitle"
        >
          {{ data.subtitle }}
        </SlpTypography>

        <div class="container__text" v-html="$md.render(data.text)"></div>

        <div class="container__cta">
          <SlpButton
            v-if="data.cta_one"
            class="slp-mr-8"
            variant="secondary"
            :href="data.cta_one.link"
            :data-ga-name="data.cta_one.data_ga_name"
            :data-ga-location="data.cta_one.data_ga_location"
            >{{ data.cta_one.text }}</SlpButton
          >
          <SlpButton
            v-if="data.cta_two"
            variant="secondary"
            :href="data.cta_two.link"
            :data-ga-name="data.cta_two.data_ga_name"
            :data-ga-location="data.cta_two.data_ga_location"
            >{{ data.cta_two.text }}</SlpButton
          >
        </div>
      </section>
    </SlpColumn>
    <SlpHorizontalRule />
  </SlpRow>
</template>

<style lang="scss" scoped>
.container {
  margin: $spacing-64 0;

  &__title {
    margin-bottom: $spacing-32;
    &-image {
      position: relative;
      display: inline;
    }
  }

  &__subtitle {
    margin-bottom: $spacing-16;
    font-weight: 600;
  }

  &__text {
    margin-bottom: $spacing-24;
    font-size: 16px;
    line-height: 28px;
  }

  @media (max-width: $breakpoint-sm) {
    &__cta ::v-deep a {
      width: 100%;

      &:nth-of-type(2) {
        margin-top: $spacing-8;
      }
    }

    &__title {
      font-size: 24px;
      line-height: 30px;
    }

    &__subtitle {
      font-weight: normal;
      font-size: 19px;
      line-height: 24px;
    }
  }
}
</style>
